body {
    background-color: #F5FFFA
}

}
main {
    background-color: #FFFFE0;
}
h1 {
    color: #0000FF
}
nav {
    background-color: #FFEFD5
}
div {
    background-color: #E6E6FA
}
li {
    color: #8B0000
}