body {
    background-color: #E0FFFF
}

}
main {
    background-color: #EE82EE;
}
h1 {
    color: #FF0000
}
nav {
    background-color: #AFEEEE
}
div {
    background-color: #E6E6FA
}
li {
    color: #000000
}